<main class="container">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-lg-9 texto_principal col-sm-12">
      <h3>So, you want to travel to</h3>
      <h1 class="titular">SPACE</h1>
      <p>
        Let's face it; if you want to go to space, you might as well genuinely
        go to outer space and not hover kind of on the edge of it. Well sit
        back, and relax because we'll give you a truly out of this world
        experience!
      </p>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="circulo">
        <div class="circulo_txt">EXPLORE</div>
      </div>
    </div>
  </div>
</main>
