<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-md">
            <svg class="col-2 col-md-1 ps-3 ps-sm-4 ps-lg-5" xmlns="http://www.w3.org/2000/svg" width="48" height="48">
                <g fill="none" fill-rule="evenodd">
                <circle cx="24" cy="24" r="24" fill="#FFF" />
                <path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"/>
                </g>
            </svg>
            <section class="line col-3 col-md-4">.</section>
            <div class="nav-container col-7 col-md-7">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link home" aria-current="page" href="#"><span>00</span>HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span>01</span>DESTINATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span>02</span>CREW</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span>03</span>TECHNOLOGY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
